<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang = "en"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link th:href = "@{/css/sidemenu.css}" rel = "stylesheet">
</head>
<body>

<button id="menuButton" class="menu-button">☰</button>

<div id="sideMenu" class="side-menu">
    <div class="menu-header">
        <button id="closeButton" class="close-button">✕</button>
    </div>
    <ul>
        <li><a href="투약통계페이지 연결">투약 통계</a></li>
        <li><a th:href="@{/mypage}">마이 페이지</a></li>
        <li><a th:href="@{/logout}">로그아웃</a></li>
        <li><a href="관리자 화면 연결">관리자 화면</a></li>
    </ul>
</div>
</body>
<script th:src = "@{/js/sidemenu.js}"></script>
</html>