<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
    <link rel="stylesheet" href="../Calendar.css">
</head>
<header>
<div class="calendar-container">
    <div class="calendar-header" id="calendar-header">오늘: 2024-12-05</div>
    <div class="calendar" id="calendar"></div>
</div>
<script src="../JS/Calendar.js"></script>
</header>
<body>
<div class="dose-schedule-container">
    <table>
        <tr class="doseScheduleId" th:each="list : ${list}">
            <td class = "doseScheduleId" th:text="${list.id}"></td>
            <td class = "user_id" th:text="${list.users.id}"></td>
            <td class = "medication_name" th:text="${list.dosetime}"></td>
            <td class = "dosage" th:text="${list.dosage}"></td>
            <td class = "repeatInterval" th:text="${list.repeat_interval}"></td>
            <td class = "daysOfWeek" th:text="${list.days_of_interval}"></td>
            <td class = "StartDate" th:text="${list.StartDate}"></td>
        </tr>
    </table>
</div>
<button id="add-schedule-button">+</button>
</body>
</html>