<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정 완료</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset-password-success.css}">
</head>
<body>
<div class="container">
    <div class="success-container">
        <h2 class="success-title">비밀번호 재설정 완료</h2>
        <p class="success-message">비밀번호가 성공적으로 변경되었습니다.</p>
        <a href="/auth/login" class="btn btn-primary login-button">로그인</a>
    </div>
</div>
</body>
</html>
