<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/reset-password.css}">
</head>
<body>
<div class="container">
    <div class="form-container">
        <h2 class="text-center mb-4">비밀번호 재설정</h2>

        <!-- 에러 메시지를 표시 -->
        <div th:if="${errorMessage}" class="alert alert-danger">
            [[${errorMessage}]]
        </div>

        <form id="resetPasswordForm" th:action="@{/api/auth/resetPassword}" method="post">
            <!-- 숨겨진 필드에 토큰 값 저장 -->
            <input type="hidden" th:value="${token}" name="token">

            <div class="mb-3">
                <label for="newPassword" class="form-label">새 비밀번호</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="비밀번호 입력" required>
                <div id="passwordRuleMessage" class="info-message rule" style="display: block;">
                    특수문자, 대문자, 소문자 포함 6~20자리를 입력해주세요.
                </div>
            </div>

            <div class="mb-3">
                <label for="confirmPassword" class="form-label">비밀번호 확인</label>
                <input type="password" id="confirmPassword" class="form-control" placeholder="비밀번호 확인 입력" required>
                <div id="passwordMessage" class="info-message"></div>
            </div>

            <div class="d-grid">
                <button type="submit" id="resetPasswordButton" class="btn btn-success">비밀번호 재설정</button>
            </div>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/js/reset-password.js}"></script>
</body>
</html>
